.navbar-toggler {
    border-color: #000000;
    border-width: 2px !important;
}

.nav-link {
    padding: 0.75rem;
}

.row {
    margin-bottom: 2rem;
}

.main-container {
    padding: 1rem;
}

p {
    font-size: 1.15rem;
    font-weight: 350;
}

ul {
    font-size: 1.15rem;
    font-weight: 350;
}

.nav-link {
    color: white;
}

.card-img-top {
    padding: 0.25rem;
    padding-bottom: 0px;
    width: 100%;
    aspect-ratio: 1 / 1
}

.card-body {
    padding-top: 0px;
}